
<ul class="heroes">
  <li *ngFor="let book of book"
    [class.selected]="book === selectedBook"
    (click)="onSelect(book)">
    <span class="badge">{{book.year}}</span> {{book.name}} 
  </li>
</ul>

<div *ngIf="selectedBook">

  <h2>{{selectedBook.name | uppercase}} Details</h2>
  <div><span>year: </span>{{selectedBook.year}}</div>
  <div>
    <label>name: {{selectedBook.name}}
    </label>
  </div>

</div>